
{{ partial "header" . }}


  <div class="containerBox">
        <h1>Get a quote</h1>
        
        <form 	
            action="https://formspree.io/hello@electrade.app"
              method="POST"
              id="application"
              class="electrade-form"
              >

          Email<br/>
          <input type="email" required name="Email" placeholder="n.tesla@gmail.com"><br/><br/>

          First Name<br/>
          <input type="text" required name="first" placeholder="Nikola" ><br/><br/>

          Last Name<br/>
          <input type="text" required name="last" placeholder="Tesla" ><br/><br/>

          Street <br/>
          <input type="text" required name="address1" placeholder="123 Electric Avenue" ><br/><br/>
          ZIP Code<br/>
          <input type="text" required name="ZIP" placeholder="94117" ><br/><br/>
          City, State<br/>
          <input type="text" required name="address2" placeholder="San Francisco, California" ><br/><br/>

          <hr />

          <h2>Your car</h2>

          Model<br/>
          <input type="text" required name="model" placeholder="Nissan Leaf S, Tesla Model 3, etc" ><br/><br/>

          Model Year<br/>
          <input type="text" required name="address1" placeholder="2018" ><br/><br/>

          <hr />

          <h2>Curious</h2>

          Where did you find out about us?<br/>
          <input type="text" name="why apply here?" placeholder="" ><br/><br/>

          <input class="btn btn-block btn-lg btn-primary" type="submit" value="Send" id="send-application">
          <input type="hidden" name="_next" value="https://electrade.app/thanks" />

          </form>


  </div>


  

{{ partial "footer.html" . }}