
{{ partial "header" . }}


  <div class="containerBox">
        <h1>Get a quote</h1>
        
        <form 	
              id="test-form"
              class="electrade-form"
              >

          Email<br/>
          <input type="email" required name="Email" placeholder="n.tesla@gmail.com"><br/><br/>

          First Name<br/>
          <input type="text" required name="First" placeholder="Nikola" ><br/><br/>

          Last Name<br/>
          <input type="text" required name="Last" placeholder="Tesla" ><br/><br/>

          Street <br/>
          <input type="text" required name="Address_1" placeholder="123 Electric Avenue" ><br/><br/>

          ZIP Code<br/>
          <input type="text" required name="ZIP" placeholder="94117" ><br/><br/>

          City, State<br/>
          <input type="text" required name="Address_2" placeholder="San Francisco, California" ><br/><br/>

          <hr />

          <h2>Your car</h2>

          Model<br/>
          <input type="text" required name="Model" placeholder="Nissan Leaf S, Tesla Model 3, etc" ><br/><br/>

          Model Year<br/>
          <input type="text" required name="Model_Year" placeholder="2018" ><br/><br/>

          VIN – Vehicle Identification Number<br/>
          <input type="text" required name="VIN" placeholder="ie. 5YJSA1E13GF133859" ><br/><br/>

          DL# – Driver's License Number<br/>
          <input type="text" required name="DL" placeholder="ie. X1234567" ><br/><br/>

          <hr />

          <h2>Curious</h2>

          Where did you find out about us?<br/>
          <input type="text" name="Where_did_you_hear_about_us" placeholder="" ><br/><br/>

          <input class="btn btn-block btn-lg btn-primary" type="submit" value="Send" id="submit-form">
          

          </form>


  </div>

  <script>

      var $form = $('form#test-form'),
      url = 'https://script.google.com/macros/s/AKfycbxFpyxiJoyxr74CiMmR_wscbXtE7nK_h2KmceG5yF3bs8BgWMYB/exec'

      $.fn.serializeObject = function()
      {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
      };
      
      $('#submit-form').on('click', function(e) {
        e.preventDefault();
        var jqxhr = $.ajax({
          url: url,
          method: "GET",
          dataType: "json",
          data: $form.serializeObject(),
          success: function(result){ window.location='https://electrade.app/thanks' }
        })
      })

  </script>
  

{{ partial "footer.html" . }}