---
layout: default
title: {{ site.name }}
---


 



<div id="home">
  <!-- <h3 >Example systems by users</h3>
  
  <img src="img/TEASER.jpg" style="max-width: 50%; padding: 10px">
  <img src="img/FINAL2.jpg" style="max-width: 50%; float: right; padding: 10px">
  Home Use
  
  <hr>

  <img src="img/burningman1.JPG" style="max-width: 50%; padding: 10px">
  <img src="img/burningman3.JPG" style="max-width: 50%; float: right; padding: 10px">
  Festival Use -->
  

  <h3 >Articles</h3>
  <ul class="" style="">
    {% for post in site.posts %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li><br>
    {% endfor %}
  </ul>

  <br>
  <hr><br>
  <ul class="posts">
    {% for post in site.posts %}
      <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><br><br>
      {{post.content}}
      <br><hr><br>
    {% endfor %}
  </ul>


    <h3>More Articles</h3>
    <ul>
    {% for post in site.posts %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><br>
    {% endfor %}
  </ul>
</div>