

hr{
  padding: 30px;
  margin-left: 25%;
  margin-right: 25%;
}

code{
  line-height: 2.5rem;
  padding: 30px;
  width: 100%;
  color: black;
  margin-bottom: 30px;
}

p{
  font-family: 'Manuale', Georgia, serif;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: #444444;
  padding-bottom: 2rem;
}


.title{
  font-weight: 650;
  color: #333333;
}

.subtitle{
  font-weight: 300;
  color: #555555;
}

.amazonad{
  font-weight:200;
  }



img{
  width: 100%;
}

.card{
  /*margin-top: 40px;*/
  margin-bottom: 40px;
}

.card-text{
  text-align: center;
}

/* Space out content a bit */
/*body {*/
  /*padding-top: 1.5rem;*/
  /*padding-bottom: 1.5rem;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}


/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 60rem;
  }
  p, h1, h2, h3, h4, h5, code{
    margin-left: 12%;
    margin-right: 12%;
  }
  .normalImage{
    margin-left: 12%;
    margin-right: 12%;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  margin: 0px !important; 
  background: url(http://www.gridlesskits.com/original_img/IMAGE_OF_TEASER_2.jpg) center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.jumbotron .btn {

}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
