<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="/css/cayman.css">
  <link rel="stylesheet" href="/css/cayman.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  
    <meta property="og:url"                content="http://www.sunboxlabs.com" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Build a Personal Power Plant for $200" />
    <meta property="og:description"        content="How to build a compact solar generator with parts from Amazon – for silent, fuel-free power. For off-grid home appliances, emergency backup festivals and camping." />
    <meta property="og:image"              content="http://sunboxlabs.com/img/money4.jpg" />
    <meta name="description" content="How to build a compact solar generator with parts from Amazon – for silent, fuel-free power. For off-grid home appliances, emergency backup, festivals and camping." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sunboxlabs" />
    <meta name="twitter:title" content="Build a Personal Power Plant for $200" />
    <meta name="twitter:description" content="How to build a compact solar generator with parts from Amazon – for silent, fuel-free power. For off-grid home appliances, emergency backup, festivals and camping." />
    <meta name="twitter:image" content="http://sunboxlabs.com/img/money4.jpg" />


    
</head>
