<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">

    <meta property="og:url"                content="http://www.gridlesskits.com" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="$200 Solar Self-Sufficiency – without your landlord noticing." />
    <meta property="og:description"        content="We help hackers build solar micro-grids in their bedroom with parts from Amazon" />
    <meta property="og:image"              content="http://www.gridlesskits.com/img/TEASER.jpg" />
    <meta name="description" content="How to build a solar micro-grid in your bedroom with parts from Amazon" />
    
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=598423421445ad0012b9d1b7&product=sticky-share-buttons"></script>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@gridlesskits" />
    <meta name="twitter:title" content="$200 Solar Self-Sufficiency – without your landlord noticing" />
    <meta name="twitter:description" content="We help hackers build solar micro-grids in their bedroom with parts from Amazon" />
    <meta name="twitter:image" content="http://www.gridlesskits.com/img/TEASER.jpg" />


    
</head>