<head>
  <meta charset="UTF-8">
  <title>sunboxlabs | {{ site.tagline }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="/css/cayman.css">

  
    <meta property="og:url"                content="http://www.sunboxlabs.com" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="solar-charged batteries" />
    <meta property="og:description"        content="How to build a battery that recharges itself from the sun with off-the-shelf parts" />
    <meta property="og:image"              content="http://sunboxlabs.com/img/moneyshot.jpg" />
    <meta name="description" content="How to build a battery that recharges itself from the sun with off-the-shelf parts" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sunboxlabs" />
    <meta name="twitter:title" content="solar-charged batteries" />
    <meta name="twitter:description" content="How to build a battery that recharges itself from the sun with off-the-shelf parts" />
    <meta name="twitter:image" content="http://sunboxlabs.com/img/moneyshot.jpg" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103591436-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103591436-1');
    </script>

    <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('gkc2b5c3dz4p');
</script>
<!-- End of Async Drift Code -->



    <!-- Facebook Pixel Code -->
   <!--  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '595574263985417');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=595574263985417&ev=PageView&noscript=1"
    /></noscript> -->
    <!-- End Facebook Pixel Code -->


</head>
