

<footer class="page-header" style="margin: 0 auto; padding-top: 60px; font-family: 'Verdana', sans-serif;">
  <b>Projects</b>
  <div style="display: flex; flex-wrap: wrap; max-width: 1000px; margin: 0 auto;"">
  
  <a href="/2017/06/20/200-apartment-solar-system.html" style="width: 300px; margin: auto ; cursor: pointer; font-weight: normal; text-decoration: none">
    <div class="shadowHover" style=" padding: 20px;height: 700px; margin: 20px auto">
          <p><b>apartment solar hack</b></p>
          <p>cost: $</p>
          <p>discussion: 234 Comments</p>
          <p>difficulty: beginner</p>
          <img style="max-height: 180px; max-width: 100%" src="/img/FINAL.jpg">
          <img style="max-height: 180px; max-width: 100%" src="/img/FINAL2.jpg">
          <p>user: niko</p>
    </div>
  </a>
  
  <a href="/2017/09/06/burning-man-update.html" style="width: 300px; margin: auto ; cursor: pointer; font-weight: normal; text-decoration: none">
    <div class="shadowHover" style=" padding: 20px;height: 700px; margin: 20px auto">
          <p><b>the burning man solar system</b></p>
          <p>cost: $</p>
          <p>discussion: 321 Comments</p>
          <p>difficulty: beginner</p>
          <img style="max-height: 180px; max-width: 100%" src="/img/sean/burningman2.JPG">
          <img style="max-height: 180px; max-width: 100%" src="/img/sean/burningman1.JPG">
          <p>user: sean</p>
    </div>
  </a>

  <a href="/2017/10/01/burning-man-solar-2.html" style="width: 300px; margin: auto ; cursor: pointer; font-weight: normal; text-decoration: none">
    <div class="shadowHover" style=" padding: 20px; height: 700px; margin: 20px auto">
          <p><b>lithium-ion solar rig</b></p>
          <p>cost: $$</p>
          <p>discussion: 0 Comments</p>
          <p>difficulty: beginner</p>
          <img style="max-height: 180px; max-width: 100%" src="/img/charles/charles1.png">
          <img style="max-height: 180px; max-width: 100%" src="/img/charles/charles2.png">
          <p>user: charles</p>
    </div>
  </a>
  <!--  <div style="width: 300px; border: 1px solid lightgrey; padding: 20px; margin: 10px auto">
          <p><b>RV & car usage</b></p>
          <a href="2017/09/06/car.html">Read Now</a>
          <p>cost: $$$</p>
          <p>discussion: 149 Comments</p>
          <p>difficulty: medium</p>
          <a 
           target="_blank"
           href="/parts.html#dan"
           onclick="ga('send', 'event', 'AffLink', 'clicked', 'Same Page');">
            view parts list
          </a>
          <br><br>
          <img style="max-height: 180px" src="/dan/dan1.jpg">
          <img style="max-height: 180px" src="/dan/dan2.jpg">
          <p>user: dan</p>
  </div> -->
  <a href="/2017/09/17/what-will-it-run.html" style="width: 300px; margin: auto ; cursor: pointer; font-weight: normal; text-decoration: none">
    <div class="shadowHover" style=" padding: 20px; height: 700px; margin: 20px auto">
            <p><b>Replacing appliances with low-power devices</b></p>
            <p>cost: $$</p>
            <p>discussion: 0 Comments</p>
            <p>difficulty: easy</p>
            <img style="max-height: 180px; max-width: 100%" src="/img/devices/fridgebefore.jpg">
            <img style="max-height: 180px; max-width: 100%" src="/img/devices/fridgeafter.jpg">
            <p>user: niko</p>
    </div>
  </a>

  <div class="shadowHover" 
      style="display: flex; max-width: 300px; margin: 10px auto; align-items: center; justify-content: center;">    
          <iframe src="https://upscri.be/a543df/" style="border: 0;" width="100%"></iframe>
  </div>
                                                                               
</div>
                                                               
                                                               

      

                                                               
<br><br>
<br><br><br>


  	<p style="font-size: .7rem; color: grey">sunboxlabs.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com</p>
</footer>
