<section class="page-header" style="margin-bottom: 0px; padding-bottom: 0px">
  <a href="/" style=" cursor: pointer; text-decoration: none">
    <h2 class="project-name" style="color: #191919">{{ site.title }}</h2>
  </a>
  <h2 class="project-tagline" style="color: #191919; margin-top: 0px; ">{{ site.tagline }}</h2>
      <br>
      <table style=" margin: 0px auto; ">
        <tr >
          <td style="width: 49%;">
            <img src="/img/money1.jpg" style="max-width: 50%; padding: 1px; max-height: 200px">
            <img src="/img/money2.jpg" style="max-width: 50%; float: right; padding: 1px; max-height: 200px">
          </td>
          <td style="width: 2%"></td>
          <td style="width: 49%; ">
            <img src="/img/money3.jpg" style="max-width: 50%; padding: 1px; max-height: 200px">
            <img src="/img/money4.jpg" style="max-width: 50%; float: right; padding: 1px; max-height: 200px">
          </td>
        </tr>
        <tr >
          <td>            
            <p class="project-tagline" style="color: #191919; margin: 4px; ">For Off-Grid Home Appliances & Power Outages</p>
          </td>
          <td></td>
          <td>
            <p class="project-tagline" style="color: #191919; margin: 4px; ">For Festivals & Camping</p>
          </td>
        </tr>
      </table>


            
            
<!--   <table style="max-width: 850px; margin: auto">
        
            <tr >
                <td>
                    <img style="max-width: 100px; width: 100%; padding: 3px" src="/img/gaggi1.jpg" >
                </td>

                <td>
                    <img style="max-width: 100px; width: 100%; padding: 3px" src="/img/gaggi2.jpg" >
                </td>

                <td>
                    <img style="max-width: 100px; width: 100%; padding: 3px" src="/img/gaggi3.jpg" >
                </td>

                <td>
                  <img style="max-width: 100px; width: 100%; padding: 3px" src="/img/gaggi4.jpg" >
                </td>
               
                <td>
                    <img style="max-width: 100px; width: 100%; padding: 3px" src="/img/gaggi5.jpg" >
                </td>

                <td>
                  <img style="max-width: 100px; width: 100%; padding: 3px" src="/img/gaggi6.jpg" >
                </td>

           </tr>
           <tr>
                <td>
                    <div style="font-size: .6rem;">Newpowa 100 Watts 12 Volts Polychris Solar Panel</div>
                    <span style="font-size: .8rem"><b>$97.80</b></span>
                </td>
                
                <td>
                    <div style="font-size: .6rem;">HQST 20Ft 12AWG MC4 Solar Adaptor Cable</div>
                    <span style="font-size: .8rem"><b>$22.99</b></span>
                </td>
              
                <td>
                    <div  style="font-size: .6rem;">Solar Charge Controller 20A 12V/24V</div>
                    <span style="font-size: .8rem"><b>$17.99</b></span>
                </td>
              
                <td>
                    <div style="font-size: .6rem;">Battery Alligator Clips with Disconnect Cable</div>
                    <span style="font-size: .8rem"><b>$5.93</b></span>
                </td>
              
                <td>
                    <div  style="font-size: .6rem;">ExpertPower Sealed Lead Acid Battery 12V 35Ah</div>
                    <span style="font-size: .8rem"><b>$65.00</b></span>
                </td>
                
                <td>
                  <div style="font-size: .6rem;">EPAuto 150W Car Power Inverter DC 12V/110V AC</div>
                  <span style="font-size: .8rem"><b>$14.87</b></span>
                </td>

           </tr> -->

           
<!--             <tr style="text-align: center">
                <td style="text-align: center"><p style="text-align: center;"><b>Current total: $224.98</b></p></td>
            </tr> -->
          
<!--  
            <tr style="display: inline">
              <td>
              <a style="cursor: pointer" onclick="ga('send', 'event', 'Twitter', 'clicked', 'Top');" href="https://twitter.com/gridlesskits" target="_blank">
                <img src="original_img/twitter.png" style="height: 40px; width: 216px; margin: 5px;">
              </a>
              
       
              <a style="cursor: pointer" onclick="ga('send', 'event', 'AffLink', 'clicked', 'Same Page');" href="http://www.amazon.com/gp/aws/cart/add.html?AssociateTag=gridlesskits-20&ASIN.1=B00L6LZRXM&Quantity.1=1&ASIN.2=B015DJ4QX4&Quantity.2=1&ASIN.3=B071FK3GWY&Quantity.3=1&ASIN.4=B01NAUV18K&Quantity.4=1&ASIN.5=B017PI2OUS&Quantity.5=1&ASIN.6=B000ND0WB6&Quantity.6=1" target="_blank">
                <img src="original_img/amazon.png" style="height: 40px; width: 216px; margin: 5px; ">
              </a>
              </td>
            </tr> -->

<!-- </table> -->

<!-- <a href="http://twitter.com/gridlesskits"
     class="btn btn-twitter"
     onclick="ga('send', 'event', 'Twitter', 'clicked', 'Top');">
        <img src="/img/icon2.png" style="max-height: 1em"> <b>Follow For Updates</b><br>on the project
  </a> -->
<br>
<p class="project-tagline" style="color: #191919; margin-bottom: 4px; ">Order one pre-assembled or build it yourself:</p>

<!--   <a href="http://www.amazon.com/gp/aws/cart/add.html?AssociateTag=gridlesskits-20&ASIN.1=B00L6LZRXM&Quantity.1=1&ASIN.2=B015DJ4QX4&Quantity.2=1&ASIN.3=B071FK3GWY&Quantity.3=1&ASIN.4=B01NAUV18K&Quantity.4=1&ASIN.5=B017PI2OUS&Quantity.5=1&ASIN.6=B000ND0WB6&Quantity.6=1" 
     class="btn btn-amazon"
     onclick="ga('send', 'event', 'AffLink', 'clicked', 'Same Page');">
        <img src="/img/icon1.png" style="max-height: 1em"> <b>Add All</b><br>to Amazon cart ($224)
  </a> -->
  <a href="mailto:n.dunkel@gmail.com" 
     class="btn btn-twitter"> 
        <img src="/img/icon2.png" style="max-height: 1em"> <b>Contact Us</b><br> With questions or ideas
  </a>

  <a href="https://cash.me/$nikodunk" 
     target="_blank"
     class="btn btn-buy"
     onclick="ga('send', 'event', 'Reserve', 'clicked', 'Top');"> 
        <img src="/img/icon3.png" style="max-height: 1em"> <b>Order Pre-Assembled</b><br> $299 excl. shipping (US-only)
  </a>

  <a href="https://www.amazon.com/hz/wishlist/ls/1O4I0ZMHRLVRL/ref=as_li_ss_tl?type=wishlist&filter=all&sort=default&linkCode=ll2&tag=gridlesskits-20&linkId=0ac9bf5d972332bd11f31ed9b178a6c9" 
     target="_blank"
     class="btn btn-amazon"
     onclick="ga('send', 'event', 'AffLink', 'clicked', 'Same Page');">
        <img src="/img/icon1.png" style="max-height: 1em"> <b>Build Your Own: View Parts on Amazon</b><br> Currently around $220. Scroll down for How-To.
  </a>
<br><br>

</section>
