

<footer class="page-header" style="margin: 0 auto; padding-top: 60px; font-family: 'Verdana', sans-serif;">
  
<div style="text-align: left; margin: 0 auto; max-width: 1000px">
    <b>Questions & Requests</b> |
    <a  class="submit-link"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSc44b2kjsdLXjWLOBrZ9g7XPng8cFYjSUTN0H7ysD5sSHXjfA/viewform?usp=sf_link"
        onclick="ga('send', 'event', 'Submit', 'clicked', 'Thread');">  
          <b>Submit</b>
    </a>
    <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
    <ol>
      <li> 
        Question: Is it possible to "pipe" sunlight through (thick) optical fibers, to take it 5 floors down from the roof? (I keep asking myself this for 20years but never tried)  - 
        <a href="/2017/10/09/question-pipe.html" onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
          discuss
        </a>
      </li>

      <li>
        Request: DIY Greenhouse + Solar - 
        <a href="/2017/10/09/request-diy-greenhouse.html" onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
          discuss
        </a>
      </li>
        <li>
          Request: a basic set available from an online shop in europe/the euro zone. -
          <a href="/2017/10/09/request-eurozone.html" onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
            discuss
          </a>
        </li>
        <li>
          Request: DIY Hurricane Backup System -
          <a href="/2017/10/09/request-hurricane.html" onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
            (2) comments
          </a>
        </li>
      </ol>

</div>

<br><br>

<div style="text-align: left; margin: 0 auto; max-width: 1000px">
    <b>Links</b> |
    <a  class="submit-link"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdW0iMLBWMlwli4QrDx73Zz8xgJOmTzFHu4dTiCt0lvBWo3Kw/viewform?usp=sf_link"
        onclick="ga('send', 'event', 'Submit', 'clicked', 'Thread');">  
          <b>Submit</b>
    </a>
    <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
    <ol>
        <li>
          <a target="_blank" href="https://www.reddit.com/r/SolarDIY/" 
              onclick="ga('send', 'event', 'great-link', 'clicked', 'exit');">
              The Reddit DIY Community</a> –
          <a href="/2017/10/10/check-reddit.html" 
              onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
            discuss
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/watch?v=4mRZbH-Tc14"
              onclick="ga('send', 'event', 'great-link', 'clicked', 'exit');">
              Full RV Solar & Inverter Install ~ From Start To Finish (Video)
          </a> –
          <a  href="/2017/10/10/full-rv.html" 
              onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
          discuss
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.templetons.com/brad/burn/burn-power.html" 
              onclick="ga('send', 'event', 'great-link', 'clicked', 'exit');">
              Desert power (without lots of generators)
          </a> –
          <a href="/2017/10/10/desert-power.html" onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
          (2) comments
          </a>
        </li>
        <li>
          <a  target="_blank" href="https://hackaday.com/category/solar-hacks/"
              onclick="ga('send', 'event', 'great-link', 'clicked', 'exit');">
            Hackaday Solar Projects
          </a> –
          <a  href="/2017/10/10/hackaday-solar.html" 
              onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
            discuss
          </a>
        </li>
        <li>
          <a  target="_blank" href="http://www.builditsolar.com/Projects/Projects.htm"
              onclick="ga('send', 'event', 'great-link', 'clicked', 'exit');">
            Build It Solar – More than 500 renewable energy and conservation projects you can build.
          </a> –
          <a  href="/2017/10/10/build-it.html" 
              onclick="ga('send', 'event', 'new-discuss', 'clicked', 'one');">
            discuss
          </a>
        </li>
      </ol>

</div>
<br><br>


<div style="max-width: 1000px; margin: 0 auto;">
<div style="text-align: left">
<b>Projects</b> | 
<a  class="submit-link"
    target="_blank"
    href="https://docs.google.com/forms/d/e/1FAIpQLSfztLQA9UaDv0PBmEQcNTMOV8e6Qwnt1Tdvmf2fnf-jYdVzig/viewform?usp=sf_link"
    onclick="ga('send', 'event', 'Submit', 'clicked', 'Guide');">  
      <b>Submit</b> 
</a>
<hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
</div>
  <div style="display: flex; flex-wrap: wrap; ">
    
    <div class="shadowHover" style=" padding: 20px; margin: 20px auto">
      <a href="/2017/06/20/200-apartment-solar-system.html" style="width: 300px; margin: auto ; cursor: pointer; ">
            <p><b>For offgrid apartments</b></p>
            <img style="max-height: 180px; max-width: 100%" src="/img/money1.jpg">
            <p>cost: $ | level: beginner</p>
            <p>user: niko</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/06/20/200-apartment-solar-system.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', '200-apartment-solar-system');">
        (7) comments
      </a>
    </div>
  
    
    <div class="shadowHover" style=" padding: 20px; margin: 20px auto">
      <a href="/2017/09/06/burning-man-update.html" style="width: 300px; margin: auto ; cursor: pointer; ">
          <p><b>For Burning Man</b></p>
          <img style="max-height: 180px; max-width: 100%" src="/img/money3.jpg">
          <p>cost: $ | level: beginner</p>
          <p>user: sean</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/09/06/burning-man-update.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', 'burning-man-update');">
        (5) comments
      </a>
    </div>

    <div class="shadowHover" style=" padding: 20px; margin: 20px auto">  
      <a href="/2017/10/07/solarpi.html" style="width: 300px; margin: auto ; cursor: pointer;  ">
            <p><b>SolarPi</b></p>
            <img style="max-height: 180px; max-width: 100%" src="/img/solarpi/0.png">
            <p>cost: $ | level: N/A</p>
            <p>user: christian</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/10/07/solarpi.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', 'solarpi');">
        (3) comments
      </a>
    </div>

    <div class="shadowHover" style=" padding: 20px; margin: 20px auto">  
      <a href="/2017/10/09/hurricane.html" style="width: 300px; margin: auto ; cursor: pointer;  ">
            <p>New:<b>Hurricane Solar Lighting</b></p>
            <img style="max-height: 180px; max-width: 100%" src="/img/mike/preview.jpg">
            <p>cost: $$ | level: advanced</p>
            <p>user: mikesoniat</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/10/09/hurricane.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', 'hurricane');">
        discuss
      </a>
    </div>
    

  <div class="shadowHover" style=" padding: 20px; margin: 20px auto">  
      <a href="/2017/09/17/what-will-it-run.html" style="width: 300px; margin: auto ; cursor: pointer;  ">
            <p><b>hyper-efficient appliances</b></p>
            <img style="max-height: 180px; max-width: 100%" src="/img/devices/lightafter.jpg">
            <p>cost: $$ | level: beginner</p>
            <p>user: niko</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/09/17/what-will-it-run.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', 'what-will-it-run');">
        (7) comments
      </a>
  </div>

  <div class="shadowHover" style=" padding: 20px; margin: 20px auto">  
      <a href="/2017/10/07/stock-sunjack-in-window.html" style="width: 300px; margin: auto ; cursor: pointer;  ">
            <p><b>stock sunjack in window</b></p>
            <img style="max-height: 180px; max-width: 100%" src="/img/russell/preview.jpg">
            <p>cost: $ | level: beginner</p>
            <p>user: russell</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/10/07/stock-sunjack-in-window.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', 'stock-sunjack-in-window');">
        (3) comments
      </a>
  </div>
  
  
  <div class="shadowHover" style=" padding: 20px; margin: 20px auto">
      <a href="/2017/10/01/burning-man-solar-2.html" style="width: 300px; margin: auto ; cursor: pointer;">
          <p><b>For festivals, camping & RV</b></p>
          <img style="max-height: 180px; max-width: 100%" src="/img/charles/charles1.png">
          <p>cost: $$ | level: beginner</p>
          <p>user: charles</p>
      </a>
      <hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
      <a href="/2017/10/01/burning-man-solar-2.html#discuss"
        onclick="ga('send', 'event', 'discuss', 'clicked', 'burning-man-solar-2');">
        discuss
      </a>
  </div>
</div>
                                                                               
</div>
                                                               

<br><br><br>                                                     
<iframe src="https://upscri.be/a543df/" style="border: 0;" width="100%"></iframe>


                                                               

<br><br><br><br><br>


  	<p style="font-size: .7rem; color: grey">sunboxlabs.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com</p>
</footer>
