<section class="page-header" style="margin-bottom: 0px; padding-bottom: 0px;">
  <a href="/" style=" cursor: pointer; text-decoration: none">
    <h2 class="project-name" style="color: #191919">{{ site.title }}</h2>
  </a>
  <p class="sub-title" style="color:  #606c71; margin-top: 0px; font-size: 1.1rem ">{{ site.tagline }}
      <br><br>
       <table  style=" margin: 0px auto; max-width: 800px">
        <tr>
          <td style="width: 30%">
            <img src="/img/money1.jpg" style="padding: 1px; max-width: 200px; width: 100%">
          </td>

          <td style="width: 30%">
            <img src="/img/money2.jpg" style="padding: 1px; max-width: 200px; width: 100%">
          </td>

          <td style="width: 30%">
            <img src="/img/money3.jpg" style="padding: 1px; max-width: 200px; width: 100%">
          </td>
        </tr>
        <tr>
          <td >            
            <p class="sub-title" style="color: #606c71; margin: 4px; font-size: 1.1rem; ">For offgrid home applications</p>
          </td>

          <td >
            <p class="sub-title" style="color: #606c71; margin: 4px; font-size: 1.1rem;">For emergency solar backup</p>
          </td>

          <td >
            <p class="sub-title" style="color: #606c71; margin: 4px; font-size: 1.1rem ">For festivals, camping & RV</p>
          </td>
        </tr>
      </table>
</p>

<br>
<div class=""
      style="max-width: 800px; margin: 10px auto; align-items: center; justify-content: center;">    
        <iframe src="https://upscri.be/a543df/" style="border: 0;" width="100%"></iframe>
</div>

</section>



