
{{ partial "header" . }}


    <div class="containerBox">
      <h1>Electric Vehicle Insurance Blog</h1>
      <hr />

      {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
      {{ range sort .Paginator.Pages }}
      <article class="element">
        <div class="subtitle tags is-6 is-pulled-right">
          {{ if .Params.tags }}
          {{ end }}
        </div>  
        
        <div class="content">
          <a href="{{ .Permalink }}" style="text-decoration: none">
            <img src="{{ .Params.image }}" />
            <span style="color: #777777">{{ .Date.Format "January 2, 2006" }}</span>
            <h3 class="title" style="color:#333333">{{ .Title }} {{ if .Draft }} ::Draft{{ end }}</h3>
            <span style="color:#444444">
              {{ .Summary | plainify | safeHTML }}
              {{ if .Truncated }}
            </span>
            <p style="display: flex; justify-content: space-between">
              <a class="btn btn-outline-primary pull-right" href="{{ .Permalink }}" >
                Read more >
              </a>
            </p>
          </a>
          {{ end }}
          <hr />
        </div>
      </article>
      {{ end }}
    </div>

{{ partial "quotebutton.html" . }}

{{ partial "footer.html" . }}