input {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    width: 100%;
}

.electrade-form{
    margin: 20px auto;
    margin-top: 0px;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
}

.element {
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}


.containerBox {
    max-width: 800px;
    margin: 50px auto !important;
}

.containerBox img {
    max-width: 100%;
}

.containerBox p, h1, h2 {
    padding: 10px
}