<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Essential META Tags -->
  <meta property="og:title" content="Get a quote | Electrade - Better, Cheaper EV Insurance.">
  <meta property="og:description" content="Better, Cheaper Electric Vehicle Insurance.">
  <meta property="og:image" content="https://electrade.app/img/bg-masthead.jpg">
  <meta property="og:url" content="https://electrade.app/">
  <meta name="twitter:card" content="summary_large_image">


  <!--  Non-Essential, But Recommended -->
  <meta property="og:site_name" content="Electrade">
  <meta name="twitter:image:alt" content="Better, Cheaper Electric Vehicle Insurance">


  <title>Get a quote | Electric Vehicle Insurance</title>

  <!-- Bootstrap core CSS -->
  <link href="https://electrade.app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://electrade.app/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://electrade.app/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="https://electrade.app/css/landing-page.css" rel="stylesheet">
  <link href="https://electrade.app/css/my-styles.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="/img/electrade-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
          &nbsp;Electrade
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/quote">Get a quote</a>
            <a class="nav-item nav-link" href="/blog">Blog</a>
          </div>
        </div>
      </nav>
    </div>
  </nav>