---
layout: default
---
<div style="max-width: 800px; margin: 0 auto">



<p >
  <a style="padding: 10px; border: solid 1px lightgrey; border-radius: 5px; " href="/index.html">Back to overview</a>
</p>
</div>

<br><br><br>

<div style="max-width: 600px; margin: auto">
	<h3 style="text-align: center"><b>{{ page.title }}</b></h3>
	<br>
	{{ content }}


  	<br><br><br>
<p>
  <a style="padding: 10px; border: solid 1px lightgrey; border-radius: 5px;" href="/index.html">Back to overview</a>
</p>

	<br><br><br><br><br><br>




</div>


<div style="max-width: 1000px; margin: auto">

	<hr>

	<div id="disqus_thread"></div>
	<script>
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://gridlesskits.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<br>
   	<hr>
   	<br>
</div>
