
{{ partial "header" . }}



    <div class="containerBox marginTop">
      <h1>Electric Vehicle Insurance Blog</h1>
      <hr />

      {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
      {{ range sort .Paginator.Pages }}
      <article class="element">
        <div class="subtitle tags is-6 is-pulled-right">
          {{ if .Params.tags }}
          {{ end }}
        </div>  
        
        <div class="content">
          <div class="blogBox">
            <a href="{{ .Permalink }}" style="text-decoration: none; color: white">
              <img src="{{ .Params.image }}" class="blogImage" />
              <div class="blogTitle">
                <h3 class="title" >{{ .Title }} {{ if .Draft }} ::Draft{{ end }}</h3>
                <span >{{ .Date.Format "January 2, 2006" }}</span>
              </div>
            </a>
          </div>
          <span >
              {{ .Summary | plainify | safeHTML }}
              {{ if .Truncated }}
          </span>
          <p style="display: flex; justify-content: flex-end">
            <a class="btn btn-outline-primary pull-right" href="{{ .Permalink }}" >
              Read more >
            </a>
          </p>
          {{ end }}
          <hr />
        </div>
      </article>
      {{ end }}
    </div>

{{ partial "quotebutton.html" . }}

{{ partial "footer.html" . }}